<div class="articles-container">
    <div class="header-articles">
        <div class="header-texts">
            <h1 class="articles-title">Articles</h1>
            <p>Check out our new Articles</p>
        </div>
        <div class="button-container">
            <%= link_to 'Create article', new_article_path, class: 'button-article' %>
        </div>
    </div>
    <div class="articles-table">
        <% @articles.each do |a| %>
            <div class="articles-list-container">
                <div class="text-container">
                    <h3 class="article-text-title"><%= a.title %></h3>
                    <p><%= a.body %></p>
                </div>
                <%= link_to 'Show', article_path(a), class: 'post-link' %>
            </div>
        <% end %>
    </div>
</div>
